<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>LogMaster</string>
	<key>CFBundleExecutable</key>
	<string>LogMasterPro</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.logmaster.app</string>
	<key>CFBundleName</key>
	<string>LogMaster</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>LogMaster需要访问系统事件来正常运行</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 LogMaster. All rights reserved.</string>
</dict>
</plist>
